<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.listnhachay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.listnhachay.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.listnhachay.MainMusicActivity"
            android:label="@string/title_activity_main_music" >
        </activity>
        <activity
            android:name="com.example.listnhachay.MusicActivity"
            android:label="@string/title_activity_music" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.listnhachay.DemoActivity"
            android:label="@string/title_activity_demo" >
        </activity>
        <activity
            android:name="com.example.listnhachay.DSnhacActivity"
            android:label="@string/title_activity_dsnhac" >
        </activity>
        <activity
            android:name="com.example.listnhachay.NhacActivity"
            android:label="@string/title_activity_nhac" >
        </activity>
        <activity
            android:name="com.example.listnhachay.ListNhacActivity"
            android:label="@string/title_activity_list_nhac" >
        </activity>
    </application>

</manifest>
